body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.ball {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball::before,
.ball::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.ball::before {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.pentagon {
    position: relative;
    width: 60px;
    height: 60px;
    background: black;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.semi-pentagon {
    position: absolute;
    width: 50px;
    height: 25px;
    background: black;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.semi-pentagon.top {
    top: 20px;
}

.semi-pentagon.bottom {
    bottom: 20px;
}

.semi-pentagon.left {
    left: 20px;
    transform: rotate(90deg);   
}

.semi-pentagon.right {
    right: 20px;
    transform: rotate(-90deg);
}