body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #32CD32 40%, #87CEEB 100%);
}

.grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: #32CD32;
    background-image: radial-gradient(circle, #3CB371 2%, transparent 2%), radial-gradient(circle, #3CB371 2%, transparent 2%);
    background-size: 3% 3%;
    background-position: 0 0, 1.5% 1.5%;
}

.ball {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pentagon {
    position: relative;
    width: 70px;
    height: 60px;
    background: black;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: translateX(75px);
}

.semi-pentagon {
    position: relative;
    width: 50px;
    height: 25px;
    background: black;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%); 
}

.semi-pentagon.top {
    transform: translateX(38px) translateY(-86px) rotate(180deg);
}

.semi-pentagon.bottom_1{
    transform: translateX(62px) translateY(69px) rotate(-38deg);
}

.semi-pentagon.bottom_2 {
    transform: translateX(-75px) translateY(68px) rotate(38deg);
}

.semi-pentagon.left {
    transform: translateX(-137px) translateY(-20px) rotate(105deg);
}

.semi-pentagon.right {
    transform: translateX(-1px) translateY(-22px) rotate(-105deg);
}

.line {
    position: absolute;
    width: 4px;
    height: 80px;
    background: black;
}

.line.top {
    top: 25px;
    transform: translateX(-3px) translateY(-3px) rotate(0deg);
}

.line.bottom_1 {
    bottom: 25px;
    transform: translateX(-23px)  translateY(1px) rotate(45deg);
}

.line.bottom_2 {
    bottom: 25px;
    transform: translateX(20px) translateY(2px) rotate(-47deg);
}

.line.left {
    left: 50px;
    transform: translateX(-5px) translateY(-12px) rotate(-77deg);
}

.line.right {
    right: 50px;
    transform: translateX(2px) translateY(-14px) rotate(77deg);
}